.beams-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.beams-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent !important;
}

.beams-container canvas {
  background: transparent !important;
}